body {
  background-color: black;
  font-family: sans-serif;
  overflow: hidden;
}

#currentslide {
  font-size: 16pt;
  color: white;
  padding-bottom: 0px;
}

#right {
  float: right;
}

#clock {
  font-size: 30pt;
  color: yellow;
  text-align: right;
}

#verseorder {
  font-size: 30pt;
  color: green;
  text-align: left;
}

.selectedSlide{
    color:yellow;
    background-color: #2aabd2;
    font-size:18pt;
}
.notSelectedSlide{
    background-color: #761c19;
}

.verseBox {
    padding:5px;
    border:1px solid black;
    min-height: 120px;
}